.map {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    
    .map {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    
}