
.container {
  position: fixed;
  height: 640px;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 0;
  }
}
